#walrus-initially-showing {
  display: none;
}
#panda-initially-showing {
  display: none;
}

.toggle-walrus {
  cursor: pointer;
  color: #0088cc;
}

.toggle-walrus:hover {
  text-decoration: underline;
}
.toggle-panda {
  cursor: pointer;
  color:purple;
}

.toggle-panda:hover {
  text-decoration: underline;
}
.green-background {
  background-color: green;
  color:white;
}

.yellow-background {
  background-color: yellow; 
  color:purple
}

.red-background {
  background-color: red;
  color:darkblue;
}